@model BaiKiemTra03_02.Models.Author

<div>
    <h3>Chi tiết tác giả</h3>
    <p>ID: <b>@Model.AuthorId</b></p>
    <p>Tên tác giả: <b>@Model.AuthorName</b></p>
    <p>Quốc tịch: <b>@Model.Nationality</b></p>
    <p>Năm sinh: <b>@Model.BirthYear.ToString("dd/MM/yyyy")</b></p> 
</div>